:root {
  --active-color: hsl(178, 100%, 50%);
}

body {
  background: hsl(217, 54%, 11%);
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  color: hsl(215, 51%, 70%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 24px;
  background: hsl(216, 50%, 16%);
  width: 302px;
  height: 548px;
  border-radius: 15px;
  flex-shrink: 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.nft-image {
  margin: 0;
  width: 100%;
  height: 302px;
  border-radius: 8px;
  background-image: url("images/image-equilibrium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: none;
}

.nft-image:active > .icon,
.nft-image:hover {
  background: linear-gradient(rgba(0, 255, 248, 0.5), rgba(0, 255, 248, 0.5)),
    url("images/image-equilibrium.jpg");
  background-size: cover;
  cursor: pointer;
}

.nft-image:active > .icon,
.nft-image:hover > .icon {
  display: block;
}

.ethereum-image {
  width: 11px;
  height: 18px;
}

.text-white {
  color: #fff;
}

.text-white:hover,
.text-white:active {
  color: var(--active-color);
  cursor: pointer;
}

.text-cyan {
  color: var(--active-color);
}

.bold-text {
  font-weight: 600;
}

.light-text {
  font-weight: 300;
}

h1 {
  font-size: 22px;
  font-weight: 600;
}

h1:hover,
h1:active {
  color: var(--active-color);
  cursor: pointer;
}

.nft-image:active,
.nft-image:hover {
  color: var(--active-color);
}

.eth-values {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(215, 32%, 27%);
  margin-bottom: 16px;
}

.avatar {
  width: 33px;
  height: 33px;
  border: 1px solid #fff;
  border-radius: 33px;
}

.designer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.eth-values,
.designer {
  font-size: 16px;
}

@media (max-width: 400px) {
  body {
    padding: 0 24px;
  }
}
